*__pycache__*

\.idea/

pytorch/data/MNIST/raw/train-labels-idx1-ubyte

pytorch/data/MNIST/processed/test\.pt

pytorch/data/MNIST/processed/training\.pt

pytorch/data/MNIST/raw/t10k-images-idx3-ubyte

pytorch/data/MNIST/raw/t10k-labels-idx1-ubyte

pytorch/data/MNIST/raw/train-images-idx3-ubyte
